<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'rug_menu' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
    
          <div class="panel-heading">
            Amenities
          </div>
          
          <%= form_for @rug do |f| %>
            <div class="panel-body">
              <div class="container">
        
                  <div class="col-md-4">
                    <%= f.check_box :is_freeshipping %> Free Shipping
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-form" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</section>