<section class="">
  <div class="container">    
    <div class="row">
      <div class="col-md-9-offset-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Create Listing
          </div>
          <div class="panel-body">
            <div class="container">
    
              <%= form_for @bouncehouse do |f| %>
                <div class="col-md-4 select">
                  <div class="form-group">
                    <label>Bounce House Type</label>
                    <%= f.select :bouncehouse_type, [["Regular", "Regular"], ["Waterslide", "Waterslide"], ["Castle", "Castle"]],
                      id: "bouncehouse_type", prompt: "Select...", class: "form-control" %>
                  </div>
                </div>

                <div class="col-md-12 text-center">
                  <div><%= f.submit "Create Listing", class: "btn btn-normal" %> 
                </div>
    
              <% end %>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>  