<section>
  <div class="container">
    <h2 ><span class="text-blue" style="font-weight: 700;">Bounce House Rentals in Berwyn IL</span></h2>
    <p class="about">
      We're on a mission to make bounce house rentals easier. We make it simple for people to connect with bounce house owners, book a bounce house, choose a date, and pay upfront online. 
    </p>
        
    <p>Berwyn Bounce House allows you to book and rent bounce houses. Bounce house owners are now able to list their bounce house, increase their bookings, and thefore  increase their revenue.</p>
        
    <p>We've creatd a dynamic platform and want to offer a great experience to both our bounch house owners and their customers.</p>
  </div>
</section>  