<section>
  <div class="container">
    <h2 ><span class="text-blue" style="font-weight: 700;">Start Your Bounce House Rental Business with Berwyn Bounce House</span></h2>
    <p class="about">
      We're on a mission to make acquiring your bounce house easier. We make it super simple for you to browse our assortment of bounce houses and complete your purchase through our website.
    </p>
        
    <p>Berwyn Bounce House allows you to start your bounce house rental business. Whether or not you've made a decision to start your business, bounce house owners have seen a 
    signifiacnt increase in their bookings since the pandemic. There are lots of opportunity for you to start your bounce house rental business today.</p>
        
    <p>We've creatd a dynamic platform and want to offer a great experience to our bounce house owners to better service their customers.</p>
  </div>
</section>  