<section>
  <div class="container">
    <h2><span class="text-blue" style="font-weight: 700;">You Have Questions, We Have Answers</span></h2>
    <p class="faq"><b>Why did we create this?</b></p>
    <p>We wanted to create a business where people can purchase unique rug designs or personalize a rug using one of their own designs.</p>
    
    <p class="faq"><b>How can I share this with others in my network?</b></p>
    <p>For now, simply copy and paste the web address and share on your various social media profiles or send it in a text message.</p>
    
    <p class="faq"><b>There's a link to support the site, how will the funds be used?</b></p>
    <p>Donations will be greatly appreciated and will go directly to keeping the site up and running strong. Eventually we'd like to get to a point where we are able to purchase a warehouse space to work from rather than in our living room and basement.</p>
    
    <p class="faq"><b>How will my data and content be used.</b></p>
    <p>Your content is safefly secured in AWS S3 storage that has strict encryption variables. This site will not turn into a data mill.</p>
    
    <p class="faq"><b>I want to collaborate or become a partner, how can I get in contact?</b></p>
    <p>You can contact us on<a href="https://www.instagram.com/rug.ishh"> Instagram</a>.</p>
    
    <p>Let's network and foster key social and business relationships with the broader community.</p>
    
    <!--<h1 ><span class="text-blue" style="font-weight: 700;">History Lesson</span></h1>-->
  </div>
</section>