<div class="row">
  <div class="col-md-12 banner text-center">
    <h1><span class="text-blue">Book and rent a bounce house</span> simple and easy.</h1>
  </div>

  <div class="col-md-12"><h4>Search for a bounce house in your neighborhood</h4></div>
</div>


  <div class="row">
    <div class="col-md-6">
      <%= form_tag search_path, method: :get do %>

      <%= text_field_tag :search, params[:search], placeholder: "Search Bounce Houses", class: "form-control", id: "autolocation" %>
    </div>&nbsp;

    <div class="col-md-2">
      <%= submit_tag "Search", class: "btn btn-form btn-block" %>
    </div>
  </div>

<% end %>

<br>

<!-- BOUNCE HOUSES -->
<div class="text-center"><h2>Bounce Houses Near You</h2>
  <p>Book and rent a bounce house</p>
</div>
<br/>

<div class="row">
  <%= render partial: "bouncehouses/bouncehouses_list", locals: {bouncehouses: @bouncehouses} %>
</div>

<!--<h2 class="col-md-12 banner"><span class="text-blue">Why use</span> bouncehouseCrasher</h2>-->

<!-- CITIES -->
<div class="text-center"><h2>BounceGroup in other Cities Coming Soon!</h2></div>
<br/>

<div class="row">
  <div class="col-md-3 col-sm-3">
		<a href="https://bouncegroup.herokuapp.com/search?utf8=✓&search=chicago">
			<div class="discovery-card" style="background-image: url('/assets/chicago.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Chicago</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
  
	<div class="col-md-3 col-sm-3">
		<a href="https://bouncegroup.herokuapp.com/search?utf8=✓&search=atlanta">
			<div class="discovery-card" style="background-image: url('/assets/atlanta.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Atlanta</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
  
	<div class="col-md-3 col-sm-3">
		<a href="https://bouncegroup.herokuapp.com/search?utf8=✓&search=losangeles">
			<div class="discovery-card" style="background-image: url('/assets/la.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Los Angeles</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>
	
	<div class="col-md-3 col-sm-3">
		<a href="https://bouncegroup.herokuapp.com/search?utf8=✓&search=houston">
			<div class="discovery-card" style="background-image: url('/assets/houston.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Houston</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>

</div>

<script>
  $('#start_date').datepicker({
    dateFormat: 'mm/dd/yy',
    minDate: 0, 
    maxDate: '3m',
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr("disabled", false);
    }
  });
  
  // $('#end_date').datepicker({
  //   dateFormat: 'mm/dd/yy',
  //   minDate: 0, 
  //   maxDate: '3m',
  //   onSelect: function(selected) {
  //     $('#start_date').datepicker("option", "maxDate", selected);
  //   }
  // });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>