<div class="panel panel-default">
  <div class="panel-heading">
    <span><i class="fa fa-bolt" style="color: #ffb400"></i> Price</span>
    <span class="pull-right">$<%= @rug.price %></span>
  </div>
  <div class="panel-body">
    <div class="container">  
      <%= form_for([@rug, @rug.reservations.new]) do |f| %>
        <h4 class="message-alert text-center"><span id="message"></span></h4>
        <div id="preview" style="display: none">
          <table class="reservation-table">
            <tbody>
              <tr>
                <td>Price</td>
                <td class="text-right">$<%= @rug.price %></td>
              </tr>
              <tr id="special_details">
                <td colspan="2">
                  Special Price<br/>
                  <ul id="special_list"></ul>
                </td>
              </tr>
              <tr>
                <td class="total">Total</td>
                <td class="text-right">$<span id="reservation_total"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <br/>
        <%= f.submit "Buy Now", id: "btn_book", class: "btn btn-normal btn-block", disabled: false %>
      <% end %>  
    </div>
  </div>
</div>